html,body{
margin:0;
padding:0;
}

  label {
    display: inline-block;
    width: 5em;
  }

  .block{
  	border:1px solid black;
  	cursor:pointer;
  	padding:5px;
  	width:220px;
    margin-top:10px;
    display: inline-block;
    border-radius:2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
  }
  .block[style*="display: none;"]{
    padding:0px;
    margin-top:0px;
    width:0px;
  }
  .block:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    content: attr(tooltip) "\A" attr(tooltip2) "\A" attr(tooltip3) "\A" attr(tooltip4) "\A" attr(tooltip5) "\A" attr(tooltip6) "\A" attr(tooltip7);;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
    height:auto;
     white-space: pre;
}

.inventory,.build,.people,.technologies,.crafting,.inventory_craft,.soldiers,.market,.leader{
	float:left;
	position: relative;
	padding:25px;

}
.inventory{

}
.inventory td{
  padding:1px;

}
.amount{
  padding-left:3px;
  padding-right:3px;
}
.bonus{
  color:green;
  font-size:12px;
}

.fire{
margin-left:5px;
display: inline;
font-size:10px;
}
.toggle{
margin-left:5px;
display: inline;
font-size:10px;
}
.off{
  background-color:rgba(255,0,0,0.5);
}
.invisible{
  visibility: hidden;
  width:0;
}
.betresult{
    font-size:40px;
    text-align:center
}
.casino{
    border:1px solid black;
    padding:15px;
    float:left;
}

.infokraft{
    float:right
}

.expeditionresult{
  margin-top:15px;
}

.trade{
    border:1px solid black;
    cursor:pointer;
    padding:5px;
    width:200px;
    margin-top:10px;
    display: inline-block;
}

.bonus{
  color:green;
  font-size:12px;
    text-align:right;
}

.researched{
  background-color:rgba(0,0,0,0.1);
}

.toggletech{
    border:1px solid black;
    cursor:pointer;
    padding:5px;
    width:220px;
    margin-top:10px;
    display: inline-block;
}

.population, .titles{
  display:inline;
}

.titles{
  margin-left:20px;
}

.unavailable{
  background-color:rgba(0,0,0,0.03);
  color:rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.75);
}